

{{> head }}

{{> navbar }}

<div class="row">
     <div class="col-8">
          <h1>CARROS</h1>
          <p>
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita repellat similique eligendi, earum recusandae porro error quas veritatis exercitationem eum aperiam nesciunt odio nobis quos praesentium repudiandae cum. Libero, sunt.
          </p>
     </div>
     <div class="col-4">
          <img src="assets/imgs/carro.jpg" class="img-thumbnail" />
     </div>
</div>
     

{{> footer }}